In [1]:
#Setup
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
#Import file from local computer
df = pd.read_csv('/Users/actt/Desktop/Sensys_location.csv')

In [3]:
#See contents of file
df.head()

,Unnamed: 0,Time,APEG,Sensor Zone,Occup (%),Vol,year,Name,Latitude,Longitude
0,0,09/01/2021 14:00:00 PDT,apeg0125,0125S_NBT_1,16.04,115.0,2021,Ballard Bridge,47.658978,-122.376148
1,1,09/01/2021 14:05:00 PDT,apeg0125,0125S_NBT_1,9.53,74.0,2021,Ballard Bridge,47.658978,-122.376148
2,2,09/01/2021 14:10:00 PDT,apeg0125,0125S_NBT_1,7.70,66.0,2021,Ballard Bridge,47.658978,-122.376148
3,3,09/01/2021 14:15:00 PDT,apeg0125,0125S_NBT_1,4.89,47.0,2021,Ballard Bridge,47.658978,-122.376148
4,4,09/01/2021 14:20:00 PDT,apeg0125,0125S_NBT_1,6.54,56.0,2021,Ballard Bridge,47.658978,-122.376148

In [4]:
#Assign directions by sensor zone
#NBT = North, EBT = East, SBT = South, WBT = West
directions = ['North' if 'NBT' in x 
              else 'East' if 'EBT' in x 
              else 'South' if 'SBT' in x 
              else 'West' if 'WBT' in x
              else 'Unknown' for x in df['Sensor Zone']]

#Make list into a series so we can insert into the data frame
directions_series = pd.Series(directions)

#Insert directions series into df
df.insert(3, 'direction', directions_series)

In [5]:
#Remove PDT suffix from 'Time' column
df['Time'].str.replace(' PDT', '')

#Convert to pandas date time
times = pd.to_datetime(df['Time'])
df.insert(4, 'time', times)

In [6]:
df = df.groupby([pd.Grouper(key='APEG'), 
                 pd.Grouper(key='direction'), 
                 pd.Grouper(key='time', freq='15min')]).mean()

In [11]:
#Create a slice of the old dataframe that only contains the columns we are interested in
df2 = df.loc[:, ['Occup (%)', 'Vol']]

2520632

In [12]:
#Export csv
df2.to_csv('test out')